.product {
	margin: 15px;
	background-color: rgb(227, 227, 240);
	padding: 15px;
	border: 4px solid rgb(59, 59, 230);
}
.allText {
	padding: '18px';
}
.allText span {
	display: block;
	font-size: 18px;
}

.ProductBtn {
	/* background-color: blue; */
	color: white;
	padding: 5px 40px;
	/* border-radius: 15px; */
}
